@import "../../../Static/_Base.scss";

.boxButton,
.bagButton,
.profileButton {
	position: relative;

	.bubble {
		display: none;
		position: absolute;
		right: -10px;
		top: 110px;
		border-radius: 12px;
		background-color: $white;
		z-index: 12;

		* {
			color: $greenDark;
		}
		&.unfold {
			display: block;
		}
		h3 {
			background-color: $salmonLight;
			width: 100%;
			padding: 1em 0px;
			position: relative;
			text-align: center;
			border-radius: 12px 12px 0px 0px;

			&::before {
				content: '';
				height: 0px;
				width: 0px;
				border: 30px solid transparent;
				border-bottom: 40px solid $salmonLight;
				position: absolute;
				top: -70px;
				right: 20px;
			}
		}
	}
}

.bagButton {
	.content {
		padding: 40px;
		background-color: $greenGrey;
	}
	.total {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		padding: 30px 0px;

		div {
			display: flex;
			justify-content: space-between;
			width: 40%;
		}
		span {
			color: $black;
			text-transform: uppercase;
			max-width: 230px;
		}
		hr {
			width: 50%;
			border: 1px dashed rgba($color: $green, $alpha: .5);
		}
		button {
			padding: .5em;
			border: 3px solid $green;
			box-shadow: 3px 3px 0px $green;
			border-radius: 50px;
			color: $green;
		}
	}
}
