.popupProductAdd {
	display: flex;
	z-index: 50;
	flex-direction: column;
	align-items: center;
	position: fixed;
	width: 40%;
	margin: auto;
	background-color: $greenLightGrey;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 24px;

	header {
		background-color: $salmonLight;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-radius: 24px 24px 0px 0px;
		padding: 1em 2em;

		img {
			height: 2em;
		}
	}
	footer {
		background-color: $white;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 0px 0px 24px 24px;
		padding: 2em;
		width: 100%;

		img {
			height: 1em;
		}

		.button-link {
			margin-top: 1em;
			color: $green;

			img {
				transform: rotate(180deg);
			}
		}
	}
	& > p {
		margin-top: 1em;
	}
}
.productInCart {
	display: flex;
	background-color: $white;
	margin: 2em;
	padding: 1em;
	border: 1px solid $greenGrey;
	border-radius: 6px;
	width: 90%;

	div {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;

		&:first-of-type {
			flex: 1;
			align-items: flex-start;
			justify-content: flex-start;
			margin-left: 1em;
			font-size: 1.3em;
		}
		.productBrand {
			text-transform: uppercase;
			font-size: .9em;
		}
		&:last-of-type * {
			font-size: 1.5em;
		}
	}
	img {
		max-height: 150px;
	}
}
.blurbg {
	width: 100vw;
	height: 200vh;
	position: fixed;
	top: -20vh;
	left: 0px;
	z-index: 20;
	background-color: rgba($color: $greenDark, $alpha: .7);
}
