.productDetail {
	flex: 2;
	display: flex;
	margin-right: 4em;
	& > img {
		margin-right: 2em;
		border: 1px solid $greenGrey;
		border-radius: 8px;
		width: 40%;
	}
	h1 {
		font-family: 'Asap', sans-serif;
		font-size: 2.2em;
	}
	span {
		display: flex;
		justify-content: space-between;
		align-items: center;
		img {
			height: 1.2em;
			margin-left: 3em;
		}
	}
	h3 {
		text-transform: uppercase;
	}
	.productPrice {
		font-size: 2em;
		align-self: flex-end;
	}
	p {
		max-width: 400px;
	}
	div {
		display: flex;
		flex-direction: column;
	}
}
