.green_container{
    width: 100vw;
    height: 59px;
    background-color: #E0FFEC;
    margin-top: 50px;
}
.green_container p{
    font-family: Baloo Bhai;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 96px;
    text-align: center;
    color: #2D4E47;
}
.text1{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.avantages{
  width: 259px;
  height: 34px;
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  align-items: center;
  color: #2D4E47;
}

.euro{

  width: 200px;
  height: 129px;
  font-family: Baloo Bhai;
  font-style: normal;
  font-weight: normal;
  font-size: 81px;
  line-height: 129px;
  color: #2D4E47;
  text-shadow: 3px 4px 0px #FFD4BF;
}



.seulement{
  width: 136px;
  height: 34px;
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  align-items: center;
  text-transform: uppercase;
  color: #2D4E47;
}

.engagement{
  position: absolute;
  width: 156px;
  height: 23px;
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  color: #2D4E47;
}

.home .sub-box {
  width: 100vw;
}